body
{
    /* Background color (and all other colors) extracted using GIMP 2*/
    background: #fcfaf4;
    margin: 10px;
}

#container 
{
    max-width: 600px;
    margin:0 auto;
    font-family:Verdana, sans-serif;
    border: 1px solid #cecab9;        
}

#topbar
{
    background: #51473d;
    text-align:right;
    font-style:italic;
    font-size:10px;
    padding: 4px 2px;
    color: #eae7d2;
}

#menu:before {
    content:" ";
    display: block;
    width: 100%;
    height: 200px;
    background: url("pics/coffey.jpg");
}

#menu {
    background: #51473d;
    border-bottom: 1px solid #ffffff;
}
#menu ul {
    overflow: auto;
    padding: 4px 10px 0;
    margin: 0;
    top: 1px;
    position: relative;
}
#menu li {
    list-style: none;
    text-transform: capitalize;
    float: left;
    border-bottom: 1px solid #ffffff;
}
#menu .active {
    border-color: #eae7d2;
}
#menu a {
    display: inline-block;
    padding: 8px 20px 7px;
    background: #797066;
    color: #eae7d2;
    text-decoration: none;
    font-weight: normal;
    font-size: .8em;
    border-right: 1px solid #51473d;
}
#menu a:hover {
    background: #9C9084;
}
#menu .active a {
    background: #eae7d2;
    color: #797066;
    margin-top: 1px;
    padding-bottom: 6px;
}
#menu > a {
    display: none;
}
#content
{
    background: #eae7d2;
    color:#797066; 
}

#maincontent
{
    float:left;
    width:350px;
    padding: 0 10px;
    margin-top: 20px;
    border-right: 1px dashed #c0c0c0;
}

#maincontent img
{
    float:left;
    margin-right: 5px;
}

#maincontent p
{
    font-size:14px;
    line-height:1.5;
    margin-top:10px;       
}

#maincontent h1
{
    margin-bottom:10px;
    font-size:32px;
}


#subcontent
{
    float:right;
    width:210px;
    margin-top:20px;
    padding-left:10px;
}

#subcontent h1
{
    font-size:16px;
    margin: 5px;
    padding-bottom:15px;
}

subcontent h2
{
    font-size:14px;
    margin:24px;
}

#subcontent p
{
    margin:5px;
    font-size:10px;
    line-height:2;   
    padding-bottom:15px;
}

#subcontent ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#subcontent ul a 
{
    color: #797066;
    font-size:12px;
}

#bottomcontent
{
    clear:both;
    font-style:italic;
    font-size:10px;
    padding: 10px 10px 15px;
    visibility:hidden;
}

#bottomcontent:before {
    content: "© Högskolan i Kalmar, Institutionen för kommunikation och design";
    visibility: visible;
}

h1 
{
    margin:0;
    font-family: "Times New Roman", serif;
    font-weight: normal;
}

h2
{
    margin:0;
    font-size:16px;
    font-family: "Times New Roman", serif;
    font-weight: normal;
}