body
{
    /* Background color extracted using GIMP 2*/
    background: #eae7d2;
    margin 10px;
}

#Container 
{
    width: 643px;
    margin: 0 auto;
    font-family:Verdana, sans-serif;
    border: 1px solid #cecab9;        
}

